@{
    ViewBag.Title = "Image2";
}


<h2>Image2</h2>

<input type="button" id="openme" value="open me in another window" />

<div  width="700" height="400">
    <canvas id="canvas" width="700" height="400" style="border: 2px solid black"> </canvas>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/Scripts/jcanvas.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        count = 0;

        $(function () {
            var image = $.connection.imageHub;

            image.client.paintXY = function (data) {
                //alert(data.x + ", " + data.y + " r:" + data.r + " g:" + data.g + " b:" + data.b);

                $('#canvas').drawArc({
                    fillStyle: "rgba(" + data.fill.r + ", " + data.fill.g + ", " + data.fill.b + ", 0.5)",
                    x: data.x, y: data.y,
                    radius: data.radius
                });
                    
            };

            $.connection.hub.start().done(function () {
                $(function () {
                    $('body').addClass("nohighlight");
                    $('#canvas').drawRect({
                        fillStyle: "#ddd",
                        x: 0, y: 0,
                        width: $('#canvas').width(),
                        height: $('#canvas').height(),
                        fromCenter: false
                    });

                    $('#canvas').click(function (e) {
                        position = getPosition(event);
                        image.server.sendPaint(Math.floor(position.x), Math.floor(position.y)); // TODO: RGB
                    });

                    $('#openme').click(function () {
                        window.open('@Request.Url.AbsoluteUri', '_new', false)
                    });
                });
            });;
        });

        function getPosition(e) {
            var targ;
            if (!e)
                e = window.event;
            if (e.target)
                targ = e.target;
            else if (e.srcElement)
                targ = e.srcElement;
            if (targ.nodeType == 3)
                targ = targ.parentNode;

            var x = e.pageX - $(targ).offset().left;
            var y = e.pageY - $(targ).offset().top;

            return { "x": x, "y": y };
        };

    </script>
}