@{
    ViewBag.Title = "Image2";
}


<h2>Image2</h2>

<input type="button" id="openme" value="open me in another window" />

<div  width="700" height="400">
    <canvas id="canvas" width="700" height="400" style="border: 2px solid black"> </canvas>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/Scripts/jcanvas.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        count = 0;
        sending = false;
        $('body').addClass("nohighlight");

        $('#canvas').drawRect({
            fillStyle: "#ddd",
            x: 0, y: 0,
            width: $('#canvas').width(),
            height: $('#canvas').height(),
            fromCenter: false
        });

        $(function () {
            var image = $.connection.imageHub;

            image.client.paintXY = function (data) {
                $('#canvas').drawArc({
                    fillStyle: "rgba(" + data.fill.r + ", " + data.fill.g + ", " + data.fill.b + ", 0.5)",
                    x: data.x, y: data.y,
                    radius: data.radius
                });
            };

            $.connection.hub.start().done(function () {
                $(function () {
                    $('#canvas').mousedown(function (e) {
                        sending = true;
                    });

                    $('#canvas').mouseup(function (e) {
                        sending = false;
                    });

                    $('#openme').click(function () {
                        window.open('@Request.Url.AbsoluteUri', '_new', false)
                    });

                    function getMousePos(canvas, evt) {
                        var rect = canvas.getBoundingClientRect();
                        return {
                            x: evt.clientX - rect.left,
                            y: evt.clientY - rect.top
                        };
                    }
                    var canvas = document.getElementById('canvas');
                    var context = canvas.getContext('2d');

                    canvas.addEventListener('mousemove', function (evt) {
                        var mousePos = getMousePos(canvas, evt);
                        if (sending) {
                            image.server.sendPaint(Math.floor(mousePos.x), Math.floor(mousePos.y)); // TODO: RGB
                        }
                    }, false);

                });
            });
        });


    </script>
}