@{
    ViewBag.Title = "Shared Canvas";
}

<h2>Shared Canvas</h2>

<input type="button" id="openme" value="open me in another window" />
<input type="button" id="clear" value="clear canvas" />
<div width="700" height="400">
    <canvas id="canvas" width="700" height="400" style="border: 2px solid black"></canvas>
</div>

@section scripts {

    <script src="~/Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="~/Scripts/jcanvas.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        count = 0;
        $('body').addClass("nohighlight");

        $('#openme').click(function () {
            window.open('@Request.Url.AbsoluteUri', '_blank', "location=1,status=1,scrollbars=1");
        });

        $('#clear').click(function () {
            clearCanvas();
        });

        function clearCanvas() {
            $('#canvas').drawRect({
                fillStyle: "#ddd",
                x: 0, y: 0,
                width: $('#canvas').width(),
                height: $('#canvas').height(),
                fromCenter: false
            });
        }

        clearCanvas();

        var image = $.connection.imageHub;

        image.client.paintXY = function (data) {
            $('#canvas').drawArc({
                fillStyle: "rgba(" + data.fill.r + ", " + data.fill.g + ", " + data.fill.b + ", 0.5)",
                x: data.x, y: data.y,
                radius: data.radius
            });
        };

        $.connection.hub.start().done(function () {
            $(function () {
                var sending = false;

                document.addEventListener('mousedown', function (evt) {
                    sending = true;
                    sendLoop();
                });

                document.addEventListener('mouseup', function (evt) {
                    sending = false;
                });

                function sendLoop() {
                    if (sending) {
                        var mousePos = getMousePosOnTarget(canvas);
                        image.server.sendPaint(Math.floor(mousePos.x), Math.floor(mousePos.y)); // TODO: RGB
                        setTimeout(sendLoop, 50);
                    }
                };
            });
        });

        var mouseX = 0;
        var mouseY = 0;
        document.addEventListener('mousemove', onMouseMove, false)

        function onMouseMove(e) {
            mouseX = e.clientX;
            mouseY = e.clientY;
        }

        var canvas = document.getElementById('canvas');

        function getMousePosOnTarget(canvasTarget) {
            var rect = canvasTarget.getBoundingClientRect();
            return {
                x: mouseX - rect.left,
                y: mouseY - rect.top
            };
        };
    </script>
}